body {
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
}


h1 {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 2px;
    text-decoration: underline;
}

h2 {
    float: left;
    padding-top: 4px;
    padding-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: 0px;
    margin-top: 21px;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2px;
    border-radius: 5px;
    background: rgb(180, 171, 171);
}

.drawBtn.active, .drawBtn:active {
    background: black;
    text-decoration: none;
    color: white;
}

.colorBtn.active, .colorbtn:active {
    background: purple;
    text-decoration: none;
    color: black;
}

:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

#container {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    height: 90vh;
    width: 98vw;
}

.grid-item { 
    display: flex; 
    border: 1px solid #ddd;
    text-align: center;
    align-items: center; 
    justify-content: center; 
}